<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.system.mapper.SysPostMapper">

    <resultMap id="PostMap" type="com.atguigu.model.system.SysPost" autoMapping="true"></resultMap>

    <!--sql公共字段-->
    <sql id="columns">
        id,post_code,name,description,status,create_time,update_time,is_deleted
    </sql>

    <!--条件分页查询-->
    <select id="selectPage" resultMap="PostMap">
        select <include refid="columns"></include>
        from sys_post
        <where>
            <if test="vo.name != null and vo.name != ''">
                and name like CONCAT('%',#{vo.name},'%')
            </if>
            <if test="vo.postCode != null and vo.postCode != ''">
                and post_code like CONCAT('%',#{vo.postCode},'%')
            </if>
            <if test="vo.status != null">
                and status = #{vo.status}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>

</mapper>
